[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "newsanchor"]
	path = newsanchor
	url = https://github.com/correlaid/newsanchor
	shallow = true
	registered = true
[submodule "pocketapi"]
	path = pocketapi
	url = https://github.com/correlaid/pocketapi
	shallow = true
	registered = true
