[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "newsanchor"]
	path = newsanchor
	url = https://github.com/correlaid/newsanchor
[submodule "pocketapi"]
	path = pocketapi
	url = https://github.com/correlaid/pocketapi
[submodule "restatis"]
	path = restatis
	url = https://github.com/correlaid/restatis
